*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  overflow: hidden;
}

table {
  width: 95%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  border-radius: 5px;
}

th {
  background-color: cyan;
}

td {
  text-align: center;
  background-color: lightcyan;
}

td:last-child {
  background-color: #f9f9f999;
}

tfoot {
  background-color: #f9f9f9;
}
