---
import { Layout } from '@component/global'
---

<Layout title='Board'>
  <main class='flex h-screen w-screen items-center justify-center'>
    <h1 id='title' class='text-5xl text-white'>Board</h1>
  </main>
</Layout>
