---
import { Layout } from '@component/global'
import htmlRaw from '../retos/1/index.html?raw'
---

<Layout title='Board'>
  <body>
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
      }
      .container {
        display: flex;
        height: 100%;
        width: 100dvw;
      }
      .infoBar {
        /*flex: 1; prevents resize!*/
        width: 50%;
        /* background-color: #cfc; */
        border-style: solid;
        border-width: 1px;
        resize: horizontal;
        overflow: auto;
      }
      #canvas {
        width: 50%;
        flex: 3;
        background-color: #cfe;
        border-style: solid;
        border-width: 1px;
      }
    </style>
    <div class='container'>
      <div class='infoBar'>
        <ul>
          <li>Thing1</li>
          <li>Thing2</li>
          <li>Thing3</li>
        </ul>
      </div>
      <canvas id='canvas'></canvas>
    </div>
  </body>
</Layout>
