---
// Component imports
import { Layout, RetosGrid, Peep, Header } from '@globals'
---

<Layout title='30 días de HTML'>
  <main
    class='font-mono flex h-[100dvh] w-full flex-col items-center justify-center px-4
    py-12 text-center text-lg font-semibold text-white md:gap-4'
  >
    <Header />
    <RetosGrid />
  </main>
</Layout>
