---
// Component imports
import { Layout, RetosGrid, Peep } from '@globals'
---

<Layout title='30 días de HTML'>
  <main
    class='flex w-full flex-col items-center justify-center gap-4 px-2
    py-4 text-center font-mono text-lg font-semibold text-white'
  >
    <header class='animate-slide-out-top animate-duration-slower'>
      <h1 class='mb-2 text-5xl' id='title'>30 días de HTML</h1>
      <h2 id='subtitle' class='font-bold'>
        <a
          href='https://jamerrq.deno.dev'
          target='_blank'
          rel='noopener'
          id='subtitle'
          class=''>jamerrq</a
        ><a class='text-amber-300' id='manz' href=''>@manz</a>
      </h2>
      <!-- <img
        src='https://lenguajehtml.com/challenge/logo.png'
        width='203'
        height='118'
        alt=''
      /> -->
    </header>
    <Peep />
    <section class='flex'>
      <button
        type='button'
        onclick="window.open('https://github.com/jamerrq/html-30-days-challenge', '_blank')"
        class='mb-2 me-2 inline-flex items-center rounded-lg bg-gradient-to-r from-red-200
        via-red-300 to-yellow-200 px-5 py-2.5 text-center text-sm font-bold
        text-gray-900 hover:bg-gradient-to-bl focus:outline-none
        focus:ring-4 focus:ring-red-100 dark:focus:ring-red-400'
      >
        <svg
          class='me-2 h-4 w-4'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='currentColor'
          viewBox='0 0 20 20'
        >
          <path
            fill-rule='evenodd'
            d='M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z'
            clip-rule='evenodd'></path>
        </svg>
        <span>Repositorio</span>
      </button>
      <button
        onclick="window.open('https://lenguajehtml.com/challenge','_blank')"
        type='button'
        class='mb-2 me-2 inline-flex items-center rounded-lg bg-gradient-to-r from-teal-500
        to-blue-500 px-5 py-2.5 text-center text-sm font-bold
        text-white hover:bg-gradient-to-bl focus:outline-none
        focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-800'
      >
        <svg
          class='h-6 w-6 text-gray-800 dark:text-white'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='currentColor'
          viewBox='0 0 24 24'
        >
          <path
            d='m3 2 1.6 17.8L12 22l7.5-2.2L21 2H3Zm14 6H9l.2 2H17l-.6 6.6-4.2 1.4-4.3-1.4-.3-3h2l.2 1.4 2.4.8 2.3-.7.3-3H7.4L7 6h10.4L17 8Z'
          ></path>
        </svg>
        RETOS
      </button>
      <a
        href='https://manz.dev'
        target='_blank'
        rel='noopener noreferrer'
        class='mb-2 me-2 inline-flex items-center gap-2 rounded-lg bg-gradient-to-r from-red-200
        via-red-300 to-yellow-200 px-5 py-2.5 text-center text-sm font-bold
        text-gray-900 hover:bg-gradient-to-bl focus:outline-none
        focus:ring-4 focus:ring-red-100 dark:focus:ring-red-400'
      >
        <img
          src='https://manz.dev/favicon-32x32.png'
          width='16'
          height='16'
          alt='manzdev'
          class='h-6 w-6 rounded-full bg-white'
        />
        <span>Sobre Manz</span>
      </a>
    </section>
    <RetosGrid />
  </main>
</Layout>
