*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  overflow: hidden;
  font-family: 'Fira Code', 'Fira Mono', monospace;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tab-content {
  display: none;
  padding: 1rem;
  /* border: 1px solid #ccc; */
}

.tab-content.active {
  display: block;
}
