---
const index = 2

import { Layout } from '@component/global'
import HTMLSnippetRaw from 'src/retos/2/index.html?raw'
import CSSSnippetRaw from 'src/retos/2/styles.css?raw'

// insert the css into the html by replacing the <link> tag by a <style> tag
const HTMLSnippet = HTMLSnippetRaw.replace(
  /<link rel="stylesheet" href="styles.css">/,
  `<style>${CSSSnippetRaw}</style>`
)
---

<style>
  section {
    overflow: auto;
    scrollbar-color: #333333 #111111;
    scrollbar-width: thin;
  }
</style>

<Layout title=`Día ${+index} - 30 días de HTML`>
  <section class='relative h-full w-2/5 p-4 text-white'>
    <button
      onclick='window.location.href="/"'
      type='button'
      class='absolute right-1 top-2 inline-flex items-center rounded-lg bg-gradient-to-r from-teal-500
        to-blue-500 px-5 py-1 text-center text-sm font-medium
        text-white hover:bg-gradient-to-bl focus:outline-none
        focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-800'
    >
      <span>Volver</span>
    </button>
    <h1 class='text-2xl font-bold'>Día {+index}</h1>
    <p>
      Crea una página con un titular, varios párrafos de texto y una imagen.
    </p>

    <h2 class='mt-2 text-xl font-bold'>Soluciones</h2>
    <!-- Code -->
    <h3 class='w-full text-center italic'>index.html</h3>
    <pre
      class='overflow-x-auto rounded-md bg-gray-800 px-2 text-xs'>
      <code class='language-html' data-lang='html'>{`\n${HTMLSnippetRaw}`}</code>
    </pre>
    <h3 class='w-full text-center italic'>styles.css</h3>
    <pre
      class='overflow-x-auto rounded-md bg-gray-800 px-2 text-xs'>
      <code class='language-css' data-lang='css'>{`${CSSSnippetRaw}`}</code>
    </pre>
  </section>
  <section class='relative flex h-full w-3/5 flex-col border-r-2'>
    <!-- <header class='h-1/12 bg-gradient-to-b from-pink-200 to-orange-200'>
      <h1 class='py-2 text-center text-2xl font-bold'>Resultado</h1>
    </header> -->
    <span
      class='absolute right-2 top-2 me-2 rounded-full bg-pink-100 px-2.5 py-0.5 text-xs font-bold text-pink-800 dark:bg-pink-900 dark:text-pink-300'
    >
      Demo
    </span>
    <iframe class='grow' srcdoc={HTMLSnippet}></iframe>
  </section>
</Layout>
